@import url(../css/font_inter_regular.css);

@mixin item($url,$y_position){
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    text-decoration: none;
    letter-spacing: initial;
        .minilogo{
            min-width: 2.5rem;
            height: 2.5rem;
            background-image: url(../img/#{$url}.svg);
            background-size: 100%;
            background-position-y: $y_position;
            margin-right: 1rem;
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1rem;
            text-transform: none;
            .title{
                font-weight: 500;
                text-transform:capitalize;
                color:#031b4e;
            }
            .description{
                color:rgba(0,0,0,0.6);
                font-weight: 300;
            }
        }
        &:hover{
            .title, .description{
            color:#006AFF;
            }
        }
}
@mixin item2($url,$y_position){
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    text-decoration: none;
    align-items: center;
    letter-spacing: initial;
        .mediumlogo{
            min-width:4.5rem;
            height:4.5rem;
            background-image: url(../img/#{$url}.svg);
            background-size: 100%;
            background-position-y: $y_position;
            margin-right: 1rem;
        }
        .title{
            max-width: 18rem;
            font-size: 0.875rem;
            font-weight: 500;
            color:rgba(0,0,0,0.6);
        }
    &:hover{
        .title{
            color:#006AFF;
        }
    }
}
@mixin item3($y_position){
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    .links_title{
        display: flex;
        flex-direction: row;
        align-items: center;
        .minilogo{
            min-width: 2rem;
            height: 2rem;
            background-image: url(../img/drawing4.svg);
            background-size: 100%;
            background-position-y: $y_position;
            margin-right: 1rem;
        }
        .title{
            font-weight: 700;
            text-transform: uppercase;
            color: #031b4e;
            font-size: 0.7rem;
            letter-spacing: 0.0625rem;
        }
    }
    .links2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 2rem;
        .link2{
            margin-top: 1rem;
            text-decoration: none;
            font-size: 0.875rem;
            color:rgba(0,0,0,0.6);
            &:hover{
                color: #006aff;
            }
        }
    }
}

a:visited{
    text-decoration: none;
    color:inherit;
}

body{
    display: flex;
    margin: 0;
    flex-direction: column;
    height: 120vh;
    background-color: #F3F5F9;
}
header{
    align-self: start;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
}
.wraper_up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    border-bottom: 0.0625rem solid rgba(229,232,237,1);
    font-family: 'inter regular';
    font-weight: 400;
    .get_app{
        text-decoration: none;
        color:#5b6987;
        font-size: 0.75rem;
        &::before{
            content: 'New';
            font-weight: 500;
            font-size: 0.6rem;
            text-align: center;
            text-transform: uppercase;
            color: rgb(3,27,78);
            background-color: rgb(0,215,210);
            padding: 0.25rem 0.5rem;
            border-radius: 0.3rem;
            margin-right: 0.625rem;
            cursor: default;
        }
        &::after{
            content: '';
            padding: 0.44rem;
            margin-left: 0.2rem;
            background-image: url(../img/>.svg);
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:hover{
            color: #0069ff;
            &::after{
                background-image: url(../img/>2.svg);
            }
        }
    }
    .wraper_inner{
        display: flex;
        flex-direction: row;
        padding: 0 0.6rem;
        .item{
            padding-left:1.5rem;
            text-transform: capitalize;
            font-size: 0.75rem;
            text-align: center;
            text-decoration: none;
            color: #5b6987;
            &:hover{
                color: #0069ff;
            }
        }
    }
}
.wraper_down{
    display: flex;
    flex-direction: row;
    padding: 0 1.5rem;
    align-items:center;
    font-family: 'inter regular';
    .logo{
        background-image: url(../img/logo.png);
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        padding-bottom: 0.5rem;
        min-height: 2rem;
        min-width: 11.93rem;
    }
    #menu_button{
        display: none;
    }
    .menu_button{
        visibility:hidden;
        opacity: 0;
    }
    .super_menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .menu{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding-left: 3rem;
        font-size: 0.875rem;
        font-weight: 500;
        color: #031B4F;
        .item{
            position: relative;
            padding: 1.5rem 0;
            padding-right:2.5rem;
            text-align: left;
            cursor: pointer;
            &:hover{
                color:#006aff;
                .sub_menu{
                    visibility: visible;
                    opacity: 1;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 40%;
                right: 1.5rem;
                border: 0.1rem solid #5b6886;
                border-top: none;
                border-left: none;
                transform: rotate(45deg);
                width: 0.5rem;
                height: 0.5rem;
            }
            .sub_menu{
                position: fixed;
                left:0;
                right: 0;
                top:106.6px;
                border-top: 0.125rem solid rgba(229,232,237,1);
                opacity: 0;
                visibility: hidden;
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 33rem;
                background-color: #fff;
                border-bottom-right-radius: 2rem;
                border-bottom-left-radius: 2rem;
                cursor: default;
                .superwraper{
                    width:75rem;
                    padding: 0 0.25rem;
                    display:flex;
                    .wraper1{
                        min-width: 30%;
                        padding-right: 2rem;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                        text-transform: uppercase;
                        letter-spacing: 0.0625rem;
                        font-weight: 700;
                        font-size: 0.7rem;
                        color:#031b4e;
                        display: flex;
                        flex-direction: column;
                        border-right: 0.125rem solid rgba(229,232,237,1);
                        .Drop{
                            @include item(drawing,40px);
                        }
                        .Kuber{
                            @include item(drawing,80px);
                        }
                        .App{
                            @include item(drawing,120px);
                        }
                        .Data{
                            @include item(drawing,160px);
                        }
                        .Spaces{
                            @include item(drawing,200px);
                        }
                        .Overview{
                            @include item(drawing,240px);
                        }
                        .Tutorials{
                            @include item(drawing,280px);
                        }
                        .Questions{
                            @include item(drawing,320px);
                        }
                        .Tools{
                            @include item(drawing,360px);
                        }
                        &+.wraper1{
                            margin-left: 2rem;
                        }
                        .links1{
                            margin-top: 2rem;
                            margin-left: 2rem;
                            display: flex;
                            flex-direction: column;
                            letter-spacing: initial;

                            .link1{
                                text-decoration: none;
                                color:rgba(0,0,0,0.6);
                                font-size: 0.875rem;
                                font-weight: 400;
                                padding: 0.5rem 0;
                                text-transform: none;
                                &:hover{
                                    color: #006AFF;
                                }
                            }
                        }
                    }
                    .wraper2{
                        display: flex;
                        flex-direction: column;
                        padding-top: 2rem;
                        .wraper2_row{
                            display: flex;
                            flex-direction: row;
                        }
                        .Compute{
                            @include item3(2rem);
                        }
                        .Managed_databases{
                            @include item3(4rem);
                        }
                        .Developer_tools{
                            @include item3(6rem);
                        }
                        .Storage{
                            @include item3(8rem);
                        }
                        .Networking{
                            @include item3(10rem);
                        }
                    }
                    .wraper3{
                        display: flex;
                        flex-direction: column;
                        &+.wraper3{
                            margin-left:3rem;
                        }
                        .Hosting{
                            @include item(drawing2,40px);
                        }
                        .Apps{
                            @include item(drawing2,80px);
                        }
                        .Video{
                            @include item(drawing2,120px);
                        }
                        .Game{
                            @include item(drawing2,160px);
                        }
                        .Cloud_vpn{
                            @include item(drawing2,200px);
                        }
                        .Big_data{
                            @include item(drawing2,240px);
                        }
                        .Startup{
                            @include item(drawing2,280px);
                        }
                        .SaaS{
                            @include item(drawing2,320px);
                        }
                        .Agency{
                            @include item(drawing2,360px);
                        }
                        .Managed{
                            @include item(drawing2,400px);
                        }
                    }  
                    .wraper4{
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 0.7rem;
                        letter-spacing: 0.0625rem;
                        color:#031b4e;
                        display: flex;
                        flex-direction: column;
                        margin-left: 2rem;
                        .PHP_ubuntu{
                            @include item2(drawing3, 4.5rem);
                        }
                        .Database_sharing{
                            @include item2(drawing3, 9rem);
                        }
                        .Docker{
                            @include item2(drawing3, 13.5rem);
                        }
                    }                 
                }
            }
        }
        .link{
            text-decoration: none;
            padding: 1.5rem 0;
            padding-right: 1.5rem;
            &:hover{
                color:#006aff
            }
        }
        .sign{
            align-self:center;
            margin-left: auto;
            .button{
                text-decoration: none;
                font-weight: 700;
                text-transform: capitalize;
                padding: 0.5rem 1rem;
                border-radius: 0.4rem;
                background-color: #fff;
                color: #006AFF;
                border: 0.125rem solid #006AFF;
                transition:
                        color .5s,
                        background-color .5s;
                &:hover{
                    background-color: #006AFF;
                    color: #fff;
                }
            }
            .hoverred_button{
                background-color: #006AFF;
                color: #fff;
            }
            .button+.button{
                margin-left: 1rem;
            }
        }
    }
    
}
@media screen and (max-width: 1100px){
    header{
        position: absolute;
    }
    .wraper_up{
        display: none;
    }
    .wraper_down{
        position: relative;
        .logo{
            margin: 12.5px 0;
        }
        .sign{
            visibility: hidden;
            opacity: 0;
        }
        .menu{
            visibility: hidden;
            opacity: 0;
        }
        .menu_button{
            visibility:visible;
            opacity: 1;
            position: absolute;
            right: 2rem;
            top:1.1rem;
            padding-bottom: 1.65rem;
            .part{
                height: 0.2rem;
                width: 1.4rem;
                background-color: #5b6886;
                margin-top: 0.3rem;
                transform-origin: left;
                transition:
                    transform .2s linear,
                    visibility .2s .2s linear,
                    opacity .2s .2s linear;
            }
        }
        #menu_button{
            &:checked+.super_menu{
                .menu_button{
                    .part{
                        transition:
                            transform .2s .2s linear,
                            visibility .2s linear,
                            opacity .2s linear;
                    }
                    .first{
                        transform: rotate(45deg);                  
                    }
                    .second{
                        visibility: hidden;
                        opacity: 0;
                    }
                    .third{
                        transform: rotate(-45deg);
                    }
                }
                .menu{
                    visibility: visible;
                    opacity: 1;
                    display:flex;
                    flex-direction: column;
                    position:absolute;
                    left:0;
                    top:100%;
                    right: 0;               
                    flex-grow:none;
                    padding-left: none;
                    background-color: #fff;
                    .link{
                        font-size: 1.125rem;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            top:100%;
                            left:0;
                            width: calc(100% - 2.5rem);
                            border-bottom: 0.125rem solid rgba(229,232,237,1);
                            margin-right: 2.5rem;
                        }
                    }
                    .item{
                        font-size: 1.125rem;
                        &::after{
                            display: none;
                        }
                        .sub_menu{
                            opacity: 1;
                            visibility:visible;
                            position:static;
                            margin-top: 1rem;
                            height: max-content;
                            
                        }
                    }
                }
                .sign{
                    visibility: visible;
                    margin: 0;
                    width: calc(100% - 2.5rem);
                    align-self: flex-start;
                    opacity: 1;
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .button{
                        padding: 0.5rem 10rem;
                    }

                }
            }
        }
    }
}
@media screen and (max-width: 930px){
    .superwraper{
        flex-direction: column;
        .wraper1{
            border:none !important;
            margin-left: 0 !important;
        }
        .wraper2{
            margin-left: -2rem;
            
        }
        .wraper3{
            &+.wraper3{
                margin-left:0rem !important;
            }
        }
        .wraper4{
            margin-left: 0 !important;
        }
    }
    .button{
        padding: 0.5rem 8rem !important;
    }
}
@media screen and (max-width: 710px){
    .wraper2_row{
        flex-direction: column !important;
    }
    .button{
        padding: 0.5rem 2rem !important;
    }
}